@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@theme {
    --color-primary-50: #faf5ff;
    --color-primary-100: #f3e8ff;
    --color-primary-200: #e9d5ff;
    --color-primary-300: #d8b4fe;
    --color-primary-400: #c084fc;
    --color-primary-500: #a78bfa;
    --color-primary-600: #7c3aed; /* Púrpura elegante */
    --color-primary-700: #6d28d9;
    --color-primary-800: #5b21b6;
    --color-primary-900: #4c1d95;
    --color-primary-950: #2e1065;
}

body {
    background: linear-gradient(120deg, #fff 0%, #faf5ff 100%);
}

.card-apple {
    @apply bg-white/90 dark:bg-gray-50/90 rounded-3xl shadow-xl hover:shadow-2xl transition-shadow border border-gray-100 dark:border-gray-200;
}

.btn-apple {
    @apply px-7 py-2.5 rounded-full border border-primary-600 text-primary-600 bg-white hover:bg-primary-50 transition-colors font-medium shadow-sm hover:scale-105 active:scale-100 duration-150;
}

.btn-apple-solid {
    @apply px-7 py-2.5 rounded-full bg-primary-600 text-white border border-primary-600 hover:bg-primary-700 transition-colors font-medium shadow-sm hover:scale-105 active:scale-100 duration-150;
}
